@CHARSET "ISO-8859-1";

#header h1 {
	background: #003D4C url('../img/goldRectangle.png') no-repeat left;
	background-size: 25px;
	font-size: larger;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	line-height: 32px;
}

#header-prod-num {
	text-decoration: underline;
}

#container {
	width: 960px;
	margin: auto;
}

#content {
	padding: 10px;
	box-shadow: 0px 0px 32px black;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

.section {
	padding: 0px;
	margin: 0px;
}

.section h1 {
	background: lightgray;
	line-height: 2em;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-radius: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: large;
}

#summary-barcodes-list {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background: lightgray;
}

.summary-block {
	float: left;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	background-color: lightgray;
	margin: 5px;
	width: 23.7%;
	height: 60px;
	text-align: center;
	font-size: large;
	border-radius: 5px;
}

#summary:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.summary-block hr {
	margin: 5px;
	border-style: solid;
	border-width: 1px;
}

.section barcodes {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background: lightgray;
}

#summary-size #summary-content {
	float: right;
	margin-right: 0px;
}

table {
	table-layout:fixed
	overflow: hidden;
}

table tr td {
	padding: 0px 2px;
	font-size: smaller;
}

th {
	font-size: 0.7em;
	text-align: left;
}

.col1 {
	width: 30px;
	text-align: center;
}

.col2 {
	width: 135px;
}

.col3 {
	width: auto;
	font-size: 0.7em;
	padding: 5px;
	line-height: 1.5em;
}

.col4 {
	width: 80px;
	text-align: center;
}

.col5 {
		width: 30px;
	text-align: center;
}

.col6 {
	width: 80px;
}

.col7 {
	width: 70px;
	text-align: right;
}

#item, #barcode, #desc, #type, #clips, #trt, #size {
	text-align: left;
}
